/*
.buttonWrapper {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 50px;
    font-size: large;
    background: #468ccf;
    color: white;
    text-decoration-color: black;
    text-decoration: none;
    text-align: center;
    margin: 4px;
    font-family: Osaka;
    cursor: pointer;
}

    .buttonWrapper:hover {
        background-color: #21b1d5;
        color: white;
    }

.selectButtonWrapper {
    text-align: center;
    background-color: #21b1d5;
    font-family: Osaka;
    color: white;
    cursor: pointer;
}
*/