<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NexsoIndex.SettingsAppIndex" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <NexsoIndex.SettingsAppIndex>
      <setting name="AppId" serializeAs="String">
        <value>c1cd606c</value>
      </setting>
      <setting name="AppKey" serializeAs="String">
        <value>c7b04e68d5881311abf6e4d44fed7f10</value>
      </setting>
      <setting name="LuceneFullPath" serializeAs="String">
        <value>\LuceneIndex</value>
      </setting>
    </NexsoIndex.SettingsAppIndex>
  </applicationSettings>
</configuration>