<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   <!-- <add name="MIFNEXSOEntities" connectionString="metadata=res://*/NexsoProModel.csdl|res://*/NexsoProModel.ssdl|res://*/NexsoProModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IDBTRDB1\IDBTRDB1INST1;initial catalog=MIFNEXSO2015;persist security info=True;user id=mif_admin;password=DC19931993!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->

    <!-- Server -->
    <add name="MIFNEXSOEntities" connectionString="metadata=res://*/NexsoProModel.csdl|res://*/NexsoProModel.ssdl|res://*/NexsoProModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IDBTZMP01,1733;initial catalog=MIFNEXSO;persist security info=True;user id=mif_nexso;password=Password@123456;multipleactiveresultsets=True;Pooling=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>

    <!-- Local -->
    <!--<add name="MIFNEXSOEntities" connectionString="metadata=res://*/NexsoProModel.csdl|res://*/NexsoProModel.ssdl|res://*/NexsoProModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSINAPSIS;initial catalog=MIFNEXSO-DEV;Integrated Security=SSPI;multipleactiveresultsets=True;Pooling=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
 
  </connectionStrings>
	<!--<appSettings>
		<add key="NXListResourceFile" value="DesktopModules\NXCommonResources\NexsoList.resx" />
	</appSettings>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
