.RadCombo .rcbInputCell {
    background-size: 1148px 650px;
}

.Default.reWrapper {
    height: inherit !important;
}

.banner .step-navigation #header li {
    width: 11% !important;
}
.RadComboBox_Default .rcbInput {
    
    height: 20px!important;
  
}