.RadComboBox_Default {
    width: 96px !important;
}

.RadAjax_Default .raColor {
    width: 100% !important;
}

#dvReport, #dvBtn {
    max-width: 73.75rem;
    margin: 0 auto;
    width: 100%;
    z-index: 10;
    position: relative;
}
.rgFilterRow input {
    height: 25px!important;
}
.RadComboBox_Default .rcbReadOnly .rcbInput {
    height: 20px;
}