

span.ruFileWrap.ruStyled input[type=text] {
    display: none;
}
.RadUpload input.ruFakeInput, .hidden {
        display: none;
    }
.count {
    float: right;
    font-size: 14px;
}


/*.organization-form {
    overflow: auto;
}

.containermain {
     width: 880px;
     margin: 0 auto;
}


.organization h1, .organization h2, .organization h3, .organization h4 {
  color: #74645d;
}
 
.title-wrapper {
  background-color: #74645D;
  margin-left: -30px;
  width: 880px;
}
.title-wrapper h3 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
  margin: 0 30px;
  padding: 20px 0;
  width: 600px;
}
 
.intro,
.content {
  float: left;
  margin-right: 20px;
  width: 600px !important;
}
 
.intro span:first-child {
  border-bottom: 1px #cccccc solid;
  display: block;
  font-size: 1.6em;
  font-style: italic;
  line-height: 1.5em;
  margin-bottom: 10px;
  padding: 20px 0;
}
 
.content {
  border-top: 1px #cccccc solid;
}
 
.content h2 {
  margin: 20px 0 10px 0;
}
 
.map,
.sidebar {
  float: left;
  width: 230px;
}
 
.map {
  background-color: #fff;
  height: 270px;
  margin-top: -30px;
}
 
.metadata {
  margin: 15px 0;
  padding-bottom: 15px;
}
.metadata ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.metadata li {
  list-style: none;
}
.metadata h3 {
  border-bottom: 1px #cccccc solid;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.metadata .iconwrapper {
  background-color: #74645d;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  float: left;
  height: 50px;
  margin-right: 20px;
  text-align: center;
  width: 50px;
}

.metadata .logowrapper {
  
  
  float: left;
  height: 50px;
  margin-right: 20px;
  text-align: center;
  width: 50px;
}



.metadata .iconwrapper i {
  color: #FFFFFF;
  font-size: 30px;
  line-height: 50px !important;
}
.metadata .iconwrapper i.geomicon {
  line-height: 58px !important;*/
  /* Geomicon icon set needs a different line-height /*
}
.metadata .details {
  float: left;
  width: 190px;
}
 
 .metadata .context {
  float: left;
  width: 80%;
}

.context a { color: #999;}
.context a:hover 
{color: #999;}
 .context a:link {
     color: #999;
 }
.translated {
  font-style: italic;
}
 
.translatedGoogle {
  font-style: italic;
  font-size: 10px !important;
}


.title-label {
    font-weight: bold;
}
*/
