/* ==========================================================================
   Nexso team styles - styles added by the Nexso team
   ========================================================================== */

.language-object {
  background: white url(images/arrow.png) no-repeat right;
  overflow: hidden;
  width: 80px;
  select {
    background-color: transparent;
    border: none;    
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    width: 100px;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
  }
}     

.flex-video {margin-bottom: 4rem;}

.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.80);
  font-size: 12px;
  padding: 1em;
  display: none;
  &:hover {    
    background-color: rgba(135, 135, 135, 0.50);
  }
}